*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
form{
    padding-top: 30px;
}
h1{
    font-size: 45px;
    display: flex;
    justify-content: left; 
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 30px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
p{
    color: darkcyan;
    font-size: 20px;
    padding-top: 30px;
}
em{
    display: flex;
    justify-content: center;
}
button:hover{
    background-color: aqua;
}
button:active{
    transform: scale(0.90);
}
label{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0 10px 0;
}
.contenitore{
    background-color: antiquewhite;
    height: 115px;
    display: flex;
    align-items: center;
}
.descrizione{
    width: 600px;
}
.refresh{
    padding-bottom: 40px;
}
#barraricerca{
    height: 45px;
    width: 400px;
    border: 1px groove darkcyan;
}
#pulsanteinvio:active{
    transform: scale(0.90);
}

@media only screen and (max-width: 500px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    form{
        padding-top: 30px;
    }
    h1{
        font-size: 45px;
        display: flex;
        justify-content: left; 
        padding-left: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }
    h2{
        font-size: 30px;
        padding-top: 40px;
        display: flex;
        justify-content: center;
    }
    p{
        color: darkcyan;
        font-size: 20px;
        padding-top: 30px;
    }
    em{
        display: flex;
        justify-content: center;
    }
    button:hover{
        background-color: aqua;
    }
    button:active{
        transform: scale(0.90);
    }
    label{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px 0 10px 0;
    }
    .contenitore{
        background-color: antiquewhite;
        height: 115px;
        display: flex;
        align-items: center;
    }
    .descrizione{
        width: 300px;
    }
    .refresh{
        padding-bottom: 40px;
    }
    #barraricerca{
        height: 45px;
        width: 300px;
        border: 1px groove darkcyan;
    }
    #pulsanteinvio:active{
        transform: scale(0.90);
    }
}

